@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Welcome to the Task List Web Application for Grand Circus C# .NET Capstone 4!</h2>
    <h4>Click the link below to begin using the program by "logging into" the system.</h4>
    <a class="nav-link text-dark" asp-area="" asp-controller="TaskList" asp-action="LogIn">Log In</a>
</div>
